
	<input type="hidden"
					name="authenticity_token"
					value="<%= form_authenticity_token %>">

	<label for="circle_name">Circle name:</label>
	<input type="text" name="friend_circle[name]" value="<%= @circle.name %>" id="circle_name">
	<br>
	<% @users.each do |user| %>
		<br>
		<label for="friend_circle_friend_ids_<%= user.id %>">
				<%= user.name.capitalize %></label>
		<input type="checkbox"
				name="friend_circle[friend_ids][]"
				value="<%= user.id %>"
				id="friend_circle_friend_ids_<%= user.id %>">
	<% end %>
